globalSettings__baseServiceUri__vault=https://{{ bitwarden_hostname }}
globalSettings__baseServiceUri__cloudRegion=EU
globalSettings__sqlServer__connectionString="Data Source=tcp:mssql,1433;Initial Catalog=vault;Persist Security Info=False;User ID=sa;Password={{ db_password }};Multiple Active Result Sets=False;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True"
globalSettings__identityServer__certificatePassword={{ certificate_password }}
globalSettings__internalIdentityKey={{ internalIdKey }}
globalSettings__oidcIdentityClientKey={{ oidcIdKey }}
globalSettings__duo__aKey={{ duoaKey }}
globalSettings__installation__id={{ bitwardenInstallId }}
globalSettings__installation__key={{ bitwardenInstallKey }}
globalSettings__mail__replyToEmail={{ emailAddr }}
globalSettings__mail__smtp__host={{ smtp_host }}
globalSettings__mail__smtp__port={{ smtp_port }}
globalSettings__mail__smtp__ssl=true
globalSettings__mail__smtp__username={{ emailUsr }}
globalSettings__mail__smtp__password={{ emailPass }}
globalSettings__disableUserRegistration=false
globalSettings__hibpApiKey=
adminSettings__admins=